<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolf.zero.greenroad">

    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- android:icon="@drawable/logo_green_road" -->
    <application
        android:name=".GreenRoadApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.ShowActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/ActivityAboutStyle"></activity>
        <activity
            android:name=".activity.CheckActivity"
            android:theme="@style/ActivityAboutStyle"></activity>
        <activity android:name="activity.AnimatorActivity"></activity>
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.DraftActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.SubmitActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.PreviewDetailActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.AddOperatorActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".TestActivity"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.ConclusionActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- <activity android:naRegisterActivityvity"> -->
        <!-- </activity> -->

        <service
            android:name=".servicy.SubmitIntentService"
            android:exported="false"></service>

        <activity
            android:name=".activity.LineConfigActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.BlackListActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name=".servicy.BlackListService"
            android:exported="false"></service>

        <!-- <activity android:name=".activity.license.LicenseActivity"> -->
        <!-- </activity> -->
        <!-- <activity android:name=".activity.license.PermissionActivity"> -->
        <!-- </activity> -->
        <activity android:name=".activity.NotificationActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver android:name=".activity.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="notification_cancelled" />
            </intent-filter>
        </receiver>

        <service
            android:name=".servicy.PollingIntentService"
            android:exported="false"></service>
        <service
            android:name=".servicy.PollingService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".servicy.ShowNotificationActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""></activity>

        <receiver android:name=".update.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!--          解决android 7.0 以上版本自动更新不安装问题 -->
        <provider
            android:name=".servicy.MyFileProvider"
            android:authorities="com.wolf.zero.greenroad.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.license.MemoryCameraActivity" />
    </application>

</manifest>